<!--	caelumpic/src/app/listagem/listagem.component.html	-->
<div class="jumbotron">
    <h1 class="text-center">Caelumpic</h1>
</div>
<div class="container">
    <div *ngIf="mensagem" class="alert alert-warning">
        {{mensagem}}
    </div>

    <div class="row">
        <div class="col-md-12">
            <form>

                <div class="input-group">
                    <a	[routerLink]="['/cadastro']"	class="btn	btn-primary">
                        Nova	foto
                    </a>
                    <a	(click)="gerarFotos()"	class="btn	btn-primary">
                        Gerar 10 fotos
                    </a>
                </div>
            </form>
        </div>    <!--	fim	col-md-12	-->
    </div>    <!--	fim	row	-->
    <br>
    <div class="row">
        <painel *ngFor="let	foto	of	fotos" titulo="{{foto.titulo}}" class="col-md-2">
            <foto titulo="{{foto.titulo}}" url="{{foto.url}}"></foto>
            <button class="btn btn-danger center-block" (click)="excluir(foto)">Remover</button>
        </painel>
    </div><!--	fim	row	-->
</div><!--	fim	container	-->